<!-- {% load static %} -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Online Food Shopping Mall</title>
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <a href="food.jpg"><h1>Allergen</h1></a>
        </div>
        <div class="search">
          <form action="{% url 'search' %}" method="get">
            <input type="text" placeholder="원하는 상품을 검색해보세요">
            <button type="submit">검색</button>
            <div class="dropdown">
              <button class="dropbtn">알레르기</button>
              <div class="dropdown-content">
                <a href="#" class="allergen-btn" data-allergen="난류">난류</a>
                <a href="#" class="allergen-btn" data-allergen="우유">우유</a>
                <a href="#" class="allergen-btn" data-allergen="땅콩">땅콩</a>
                <a href="#" class="allergen-btn" data-allergen="생선">생선</a>
              </div>
            </div>
          </form>
          <div id="selected-allergens"></div>
        </div>
        <div class="menu">
          <ul>
            <li><a href="{% url 'board' %}">Board</a></li>
            <li><a href="{% static 'food.jpgcontact' %}">Login</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
        <table>
            <thead>
              <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>날짜</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td><a href="{% url 'post_detail' post.id %}">게시글 1</a></td>
                <td>작성자 1</td>
                <td>2023-04-04</td>
              </tr>
              <tr>
                <td>2</td>
                <td><a href="{% url 'post_detail' post.id %}">게시글 2</a></td>
                <td>작성자 2</td>
                <td>2023-04-03</td>
              </tr>
              <tr>
                <td>3</td>
                <td><a href="{% url 'post_detail' post.id %}">게시글 3</a></td>
                <td>작성자 3</td>
                <td>2023-04-02</td>
              </tr>
              <!-- 나머지 게시글 -->
            </tbody>
          </table>
        
    </main> 
    <div class="pagination">
        <!-- 이전 버튼 -->
        <button id="prev-btn" disabled>이전</button>
        <!-- 페이지 번호 버튼 -->
        <span id="page-numbers"></span>
        <!-- 다음 버튼 -->
        <button id="next-btn">다음</button>
        </div>
    <footer>
      <div class="color-blocks"></div>
    </footer>
  </body>
  <script src="app.js"></script>
</html>