<!-- {% load static %} -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Online Food Shopping Mall</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <a href="#"><h1>Allergen</h1></a>
        </div>
        <div class="search">
          <form action="{% url 'search' %}" method="get">
            <input type="text" placeholder="원하는 상품을 검색해보세요">
            <button type="submit">Go</button>
          </form>
        </div>
        <div class="menu">
          <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'board' %}">Board</a></li>
            <li><a href="{% static '#contact' %}">Login</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
        <div class="food-details">
            <img src="{% static 'food-image.jpg' %}" alt="Food Image">
            <div class="food-info">
            <h2>Food Name</h2>
            <p>Description information about the food.</p>
            <form action="https://search.shopping.naver.com/search/all" method="GET">
                <input type="hidden" name="query" value="{{ food.name }}">
                <button type="submit"> 구매하기 </button>
            </form>
            </div>
        </div>
    </main>
    <!-- add to django
        {% block content %}
        <h1>Search results for "{{ query }}"</h1>

        <div class="picture-grid">
          {% for picture in pictures %}
            <div class="picture">
              <img src="{{ picture.image.url }}" alt="{{ picture.name }}">
              <p>{{ picture.name }}</p>
            </div>
          {% endfor %}
        </div>
      {% endblock %}
       -->
    <div class="picture-grid">
        <div class="picture">
            <img src="#" alt="picture-name">
            <p>picturename</p>
        </div>
        <div class="picture">
            <img src="#" alt="picture-name">
            <p>picturename</p>
        </div>
        <div class="picture">
            <img src="#" alt="picture-name">
            <p>picturename</p>
        </div>
        <div class="picture">
            <img src="#" alt="picture-name">
            <p>picturename</p>
        </div>
        <div class="picture">
            <img src="#" alt="picture-name">
            <p>picturename</p>
        </div>
        <div class="picture">
            <img src="#" alt="picture-name">
            <p>picturename</p>
        </div>
    <footer>
      <div class="color-blocks"></div>
    </footer>
  </body>
  <script src="app.js"></script>
</html>