{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Online Food Shopping Mall</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
<!-- body -->

<body class="main-layout">
  <!-- loader  -->
  <div class="loader_bg">
    <div class="loader"><img src="{% static 'images/loading.gif' %}" alt="#" /></div>
  </div>
  <!-- end loader -->
  <!-- header -->
  <header>
    <!-- header inner -->
    <header>
      <nav>
        <div class="logo">
          <a href="#"><h1>Allergy</h1></a>
        </div>
        <div class="search">
          <form action="{% url 'search' %}" method="get">
            <input type="text" placeholder="원하는 상품을 검색해보세요">
            <button type="submit">Go</button>
          </form>
        </div>
        <div class="menu">
          <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'board' %}">Board</a></li>
            <li><a href="{% static '#contact' %}">Login</a></li>
          </ul>
        </div>
      </nav>
    </header>
    

    <!-- about  -->
    <div id="about" class="about">
      <div class="container-fluid" style="padding-left: 225px;">
        <div class="wrapper">
          <!--categories -->
          <div class="sidebar">
             <!--kind of allergy and purposes-->
             <div>알레르기</div>
             <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                땅콩
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                난류
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                소고기
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                새우
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                어패류
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                대두
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                유제품
              </label>
            </div> 
            <br>
            <div>목적</div>
             <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                다이어트
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                일상
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                초간편
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                파티
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                도시락
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                유아
              </label>
            </div>
            
              <!--menu item-->
          </div>
        </div>
        <h1>Search results for "{{ query }}"</h1>

        <div class="picture-grid">
          {% for picture in pictures %}
            <div class="picture">
              <img src="{{ picture.image.url }}" alt="{{ picture.name }}">
              <p>{{ picture.name }}</p>
            </div>
          {% endfor %}
        </div>
        <!-- <div class="row" style="border-bottom:dashed;">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
            <div class="about-box">
              <h2>검색된 식품</h2>
                <div class="about-box_img">
                  <figure><img src="{% static 'images/about.jpg' %}" alt="#" /></figure>
                </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
            <div class="about-box">
                <div class="about-box_img" style="padding-top:15%;">
                  <figure><img src="{% static 'images/about.jpg' %}" alt="#" /></figure>
                </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
            <div class="about-box">
                <div class="about-box_img" style="padding-top:15%;">
                  <figure><img src="{% static 'images/about.jpg' %}" alt="#" /></figure>
                </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
            <div class="about-box">
                <div class="about-box_img" style="padding-top:15%;">
                  <figure><img src="{% static 'images/about.jpg' %}" alt="#" /></figure>
                </div>
                <div style="text-align:right;margin-right:5%;">
                  <a href="{% static 'Javascript:void(0)' %}" class="btn_open">더보기</a>
                </div> 
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3" >
            <div class="about-box">
              <h2>검색된 게시판</h2>
                <div class="about-box_img">
                  <figure><img src="{% static 'images/about.jpg' %}" alt="#" /></figure>
                </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
            <div class="about-box">
                <div class="about-box_img" style="padding-top:15%;">
                  <figure><img src="{% static 'images/about.jpg' %}" alt="#" /></figure>
                </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
            <div class="about-box">
                <div class="about-box_img" style="padding-top:15%;">
                  <figure><img src="{% static 'images/about.jpg' %}" alt="#" /></figure>
                </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
            <div class="about-box">
                <div class="about-box_img" style="padding-top:15%;">
                  <figure><img src="{% static 'images/about.jpg' %}" alt="#" /></figure>
                </div>
                <div style="text-align:right;margin-right:5%;">
                <a href="{% static 'Javascript:void(0)' %}" class="btn_open">더보기</a>
                </div>
            </div>
          </div> -->
        </div> 
      </div>
    </div>
    <!-- end abouts -->


    <!--  footer -->
    <footer>

    </footer>
          <!-- end footer -->
           <!-- Javascript files-->
           <script src="{% static 'js/app.js' %}"></script>

</body>

</html>